<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs')%>

</head>
<body class="container">
    <header class='one a'>
      <%- include('../../layout/header.ejs')%>
    </header>
      <main>
          <form action="/searches" method="POST">
            <section class="contOFcont">
              <section class="sec-containerT">
                <input class="inpSearch" type="text" name="searched" placeholder="Enter a title or an author"/>
                <label class="inpRadio1"><input type="radio" name="radio" value="title"/>Title</label>
                <label class="inpRadio2"><input type="radio" name="radio" value="author"/>Author</label>
                <button class="btn6">Search</button>
              </section>
            </section>
          </form>
      </main>
</body>
</html>