<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Form</h1>
      </header>
      <main>
        <form action="/searches" method="POST">
          <label>
            <span>Search by title or author</span>
            <input type="text" name="search" />
          </label>
          <label>
            <span>Title</span>
            <input type="radio"/>
          </label>
          <label>
            <span>Author</span>
            <input type="radio">
          </label>
          <input type="submit"/>
        </form>
      </main>
</body>
</html>