<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs')%>

</head>
<body>
    <header>
      <%- include('../../layout/header.ejs')%>
    </header>
      <main>
        <form action="/searches" method="POST">
          <input type="text" name="searched" placeholder="Enter a title or an author"/>
          <label><input type="radio" name="radio" value="title"/>Title</label>
          <label><input type="radio" name="radio" value="author"/>Author</label>
          <button>Submit</button>
        </form>
      </main>
</body>
</html>