<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head.ejs')%>
  </head>
  <body class="container">
    <header class='one a'>
      <%- include('../../layout/header.ejs')%>
    </header>
    <main>
      <section>
        <ul>
          <% book.forEach(book=>{%>
          <li>
            <section>
              <%- include('../../layout/form.ejs',{formAction:"SHOW", book:book})%>
            </section>
          </li>
          <%})%>
        </ul>
      </section>
    </main>
  </body>
</html>